<div class="contain">
  <p>Product Details</p>

  <form (ngSubmit)="onSubmit()" [formGroup]="productForm">

    <div class="col-4">
      <label>Product Name
        <input type="text" formControlName="productName" id="productName">
      </label>
    </div>

    <div class="col-12">
      <label for="productDescription">Product Description</label>
      <ckeditor type="text" formControlName="productDescription" [editor]="Editor"
        [config]="{ckfinder : { uploadUrl : '/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files&responseType=json' }}">
      </ckeditor>
    </div>

    <div class="col-4">
      <label>
        Product Code
        <input type="text" formControlName="productCode">
      </label>
    </div>

    <div class="col-4">
      <label>
        Product Image
        <input type="file" (change)="onFileChange($event)" formControlName="productImage">
      </label>
    </div>

    <div class="col-4">
      <label>Is there Product Sale?</label>
      <div class="col-12">
        <input type="checkbox" class="custom-control-input" formControlName="isSale" id="isSale"
          (change)="updateState()">
        <label class="custom-control-label" for="isSale">Yes or No</label>
      </div>

      <label *ngIf="showDiscount">
        Sale Discount%
        <input type="number" formControlName="productDiscount">
      </label>
    </div>

  </form>

  <button type="submit" class="btn btn-primary" [disabled]="productForm.invalid || productForm.pristine"
    (click)="onSubmit()">Submit</button>

</div>
