.main{
    margin:20px!important;
}

.status{

    margin-bottom: 10px;
}

.filters{
    margin-bottom:10px;
}

.list{
    margin-bottom: 10px;
}

.btn{
    margin-right:10px;
}

.statusFilter{
    margin-bottom:10px;
}
